{% macro article(row, is_single=True) %}
{% if not is_single %}
<nav>
    <p><a href="{{ url_for('article_bulk') }}">Main Page</a></p>
</nav>
{% endif %}
<article>
    <header>
        <h2>
            {% if is_single %}
            <a href="/{{ row.slug }}">{{ row.headline }}</a></h2>
            {% else %}
            {{ row.headline }}
            {% endif %}
        </h2>
    </header>
    <time>Published {{ row.published_date }}</time>
    <p>{{ row.article }}</p>
    <footer><!-- Copyright &copy; {{ row.copyright_years }} Stephen Booher.--></footer>
</article>
{% endmacro %}

{% macro articles(rows) %}
    {% if rows %}
        {% for row in rows %}
        {{ article(row) }}
        {% if not loop.last %}
        <hr>
        {% endif %}
        {% endfor %}
    {% else %}
        <p>No articles found. That can't be right...</p>
    {% endif %}
{% endmacro %}
